.payment-card{
    margin-top:  30px;
    height: 38.5vh;
    width: 66.5vh;
    background-image: url("https://ecm.capitalone.com/ProductBranding/cc/1/1007/bg_prim_2400x800.jpg");
    background-size: cover;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Optimist,Helvetica Neue,Helvetica,Arial,sans-serif;

    .card-title{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-top: 20px;
        font-weight: 400;
        color: white;

        .card-type{
            font-size: 20px;
        }

        .card-number{
            margin-left: 5px;
            margin-top: 9px;
        }
    }

    .cur-balance-price{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        color: white;
        font-weight: 200;
        font-family: 'Comic Neue', cursive;

        .superscript {
            margin-top: 9px;
            font-size: 30px;
        }

        .big-num {
            font-size: 65px;
        }
    }

    .white-line{
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 20px;
        margin-bottom: 5px;
        height: 1px;
        width: 62vh;
        background-color: white;
        color: white;
    }

    .cur-balance{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        color: white;
        font-size: 15px;
    }
}