.credit-score-card {
    height: 29vh;
    width: 29vh;
    margin-top: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-sizing: border-box;

    .credit-score-card-title {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-top: 15px;
        font-weight: 500;
        font-size: 22px;
    }

    .credit-alignment {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .progress-bar-container {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            height: 22vh;
            width: 22vh;
        }

        .credit-score-text{
            height: 90%;
            width: 34vh;
            display: flex;
            margin-left: 20px;
            margin-right: 20px;
            justify-content: center;
            align-items: center;
            text-align: left;
            font-size: 20px;
            font-weight: 500;
        }
    }
}