.payment-card{
    margin:  30px 50px;
    height: 37vh;
    width: 70vh;
    background-image: url("https://ecm.capitalone.com/ProductBranding/cc/1/1007/bg_prim_2400x800.jpg");
    background-size: cover;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;

    .card-title{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-top: 20px;
        font-weight: 400;
        color: white;
        font-family: Optimist,Helvetica Neue,Helvetica,Arial,sans-serif;

        .card-type{
            font-size: 30px;
        }

        .card-number{
            margin-left: 5px;
            margin-top: 15px;
        }
    }
}